/* General */  
body {
    width: 800px; margin: 0 auto;
    background-image: url("Images/phone_globe.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
     
}
/* block styling */  
main {display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }
    
img {width: 200px; height: 200px;}

/* Typography */  
h1,h2 {text-align: center;
    }
p {font-weight: 900;}
 
/* Styling the products display */ 
    div {border: 5px solid black;
    display: flex;}
