/* General */  
body {
    width: 800px; margin: 0 auto;
    background-image: url(""); 
    background-repeat: no-repeat;
    background-position: center;
     
}
/* block styling */  
main {display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }
    
img {width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto; }

/* Typography */  
h1,h2 {text-align: center;
    }
p {font-weight: 900; text-align: center}
 
/* Styling the products display */ 
    div {border: 5px solid black;
    display: flex;}
